* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1685362926801-d97120f56465?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background-color: black;
}

/* h1 h2 h3 */
h1{
  margin-top: 30px;
  text-shadow: 0.5px 0.5px #000;
}

h2{
  color: #8f7649;
  margin: 20px 0;
  /* text-shadow: 0.5px 0.5px #000; */
}

h3{
  color:#a4a478;
  margin: 10px 0;
  /* text-shadow: 0.5px 0.5px #000; */
}

li{
  margin: 10px 0;
}

.main-box {
  display: block; /* Changed from "display: inline-block" to "display: block" */
  text-align: left;
  /* padding-left: 5rem; */
  background-color: #fff;
  /* opacity: 0.7; */
  margin: 0px 30px 0px 30px;
  min-height: 500px; 
}


/* footer */
.footer {
  margin: 0 2rem;
  position: absolute;
  background: #747c6b;
  padding: 20px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;
  right: 0;
  
}


.footer p {
  color: #fff;
  margin: 0;
}

.footer p.right-paragraph {
  text-align: right;
}
/* footer end */


/* plan img */
.photo-1 {
  width: 400px;
  height: 500px;
  object-fit: cover;
  padding: 30px;
}

/* header nav */
li {
  list-style: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #fff;
  margin: 30px 30px 0px 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem; /* Decreased margin for better spacing */
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 200;
  color: #475569;
  text-decoration: none; /* Added to remove default underline */
  transition: color 0.3s ease-in-out; /* Added smooth transition effect */
}

.nav-link:hover {
  color: #92cfee;
  padding: 4px;
  border-radius: 5px;
  background-color: #367ab9;
  width: 30px;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 300;
  color: #3a589a;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    margin-left: auto; /* Added margin to move the hamburger to the right */
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-box {
    padding-left: 2rem; /* Decreased padding for better spacing */
    padding-right: 2rem; /* Decreased padding for better spacing */
    margin: 0 2rem; /* Decreased margin for better spacing */
  }

  .footer {
    margin: 0 2rem; /* Decreased margin for better spacing */
  }
}
/* end header nav */


/* SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #555;
}

.search-input::placeholder {
  color: #999;
}

.search-button {
  padding: 12px 20px;
  border: none;
  background-color: #367ab9;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #3a589a;
}

/* end searchbar */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* extra box white space */
.plan-box{
  padding: 30px;
}